@model List<MvcDemoApp.Models.Student>

<h2>Student List</h2>

<table border="1" cellpadding="10">
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Department</th>
        <th>Marks</th>
    </tr>

@foreach(var s in Model)
{
    <tr>
        <td>@s.Id</td>
        <td>@s.Name</td>
        <td>@s.Department</td>
        <td>@s.Marks</td>
    </tr>
}
</table>

<partial name="_Footer" />