@import url('https://fonts.googleapis.com/css2?family=Gupter&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Sankofa+Display&display=swap');

body {
    font-family: "Gupter", serif;
    font-weight: 400;
    font-style: normal;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

article {
    /* background: rgb(176, 171, 171); */
    background: linear-gradient(to bottom, #2d292916, rgb(118, 202, 202));
    /* color: rgb(63, 68, 69); */
    color: black;
    border: 2px solid rgb(23, 117, 117);
    width: 90%;
    margin: 20px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 3px;
}

article h2 {
    font-size: 20px;
    text-transform: uppercase;
    padding: 10px;
    color: darkcyan;
    /* color: #003366;  */
}

main {
    display: flex;
    gap: 45%;
}

form {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 10px;
    font-weight: 500;
    text-transform: uppercase;
}

.form-group label {
    color: #003366;
    width: 100%;
    display: block;
    padding: 10px;
}

.form-group input {
    width: 160%;
    padding: 6%;
    border-radius: 5px;
    border: 2px solid rgb(23, 117, 117);
    color: #003366;

}

.form-group button {
    border-radius: 5px;
    padding: 6px;
    border: 2px solid rgb(23, 117, 117);
    color: #003366;
    font-weight: 300;
    margin-top: 10px;
    margin-bottom: 10px;
}

::placeholder {
    color: #003366;
}

#btn1,
#btn2 {
    border-radius: 4px;
    border: 1px solid rgb(23, 117, 117);
    color: #003366;
    padding: 3px;

}

.course,
.tainer,
.actions {
    padding-right: 30px;
    padding-left: 30px;
    color: #003366;
}

.table {
    margin-left: 15px;
    margin-top: 10px;
    color: #003366;
    font-family: 'Times New Roman', Times, serif;
}

.todo h2 {
    font-size: 20px;
    text-transform: uppercase;
    border-bottom: 1px solid rgb(23, 117, 117);
    font-weight: 300;
    padding-left: 178px;
    width: 106.5%;

}

table {
    width: 100%;
    padding: 10px;
}

table tr,
th,
td {
    border: 1px solid rgb(23, 117, 117);
    padding: 10px;
    font-weight: 300;
    text-align: center;

}

table button {
    border: 1px solid rgb(23, 117, 117);
    border-radius: 2px;
    width: 70%;
    padding: 3px;
    margin: 2px 0;
    background-color: rgb(231, 232, 232);
}
